

/* ----------ПОДІЇ-- */

/* ---------Об'єкт події */
/* -1-- */
/* body {
  padding: 16px;
  text-align: center;
} */

/* -2--- */
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 16px;
  padding: 8px 12px;
}

.register-form button {
  padding: 12px;
} */

/* ---Подія submit */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}
